<!DOCTYPE html>
<html>
<head>
    <title>게시판</title>
</head>
<body>
<h1>게시판</h1>
<table border="1">
    <tr>
        <td>id</td>
        <td>제목</td>
        <td>내용</td>

    </tr>
    <%
    for(var i=0; i< result.length; i++)
    {
        let data = result[i];
    %>
    <tr>
        <td><%=data.id%></td>
        <td><%=data.title%></td>
        <td><%=data.content%></td>
    </tr>
    <%}%>
</table>
</body>
</html>